/* Secondary Navigation Bar styles */


/* to-do:
- Check if this file works universaly
*/

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
.selected {
  background-color: deepskyblue;
  color: black;
}

.container {
  overflow: hidden;
  background-color: #333;
  font-family: "Montserrat";
}

.container a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: focus;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.container a:hover,
.dropdown:hover .dropbtn {
  background-color: deepskyblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: deepskyblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}