/* Primary project styles */


/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

/* TEXT STYLES */

body {
  background-color: white;
  font-family: "Montserrat";
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

h1 {
  font-family: "Righteous";
  font-size: 32px;
  color: deepskyblue;
}

h2 {
  font-family: "Patrick Hand SC";
  font-size: 28px;
  color: black;
}
.calloutpoint-red {
  background-color: #f44242;
  padding-left: 24px;
  width: 249px;
  margin-left: 11px;
  color: red; 
  border-radius: 3px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  margin: auto;
}
.div-title {
  color: white;
}