.a:link {
  color: deepskyblue;
  background-color: white;
}
.a:visited {
  color: red;
  background-color: white;
}
.a:hover {
  color: blue;
  background-color: white;
}
.a:active {
  color: green;
  background-color: white;
}
.a {
  text-decoration: none;
  background-color: white;
}