#myContainer {
  width: 370px;
  height: 390px;
  position: absolute;
  top: 60;
  Left: 415 ;
  background-image: url("https://i.ytimg.com/vi/T40NSkd7Olc/maxresdefault.jpg");
}
#myAnimation {
  width:  25px;
  height: 25px;
  position: absolute;
  top: 175;
  Left: 0;
  background-color: white;
}