/* Primary project styles */


/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/* TEXT STYLES */
body {
  background-color: white;
  font-family: "Montserrat";
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

h1 {
  font-family: "Righteous";
  font-size: 32px;
  color: deepskyblue;
}

h2 {
  font-family: "Patrick Hand SC";
  font-size: 28px;
  color: black;
}

.textform {
  font-family: "Montserrat";
}

.p {
  text-align: center;
}

.sub {
  border: 5px double blue;
  text-padding: 5px;
  background-color: yellow;
  text-color: blue;
  font-family: "Montserrat";
}

.personal:link {
  color: deepskyblue;
  background-color: white;
}
.personal:visited {
  color: red;
  background-color: white;
}
.personal:hover {
  color: blue;
  background-color: white;
}
.personal:active {
  color: green;
  background-color: white;
}
.personal {
  text-decoration: none;
  background-color: white;
}